#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#clock {
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    color: white;
    left: 37%;
    top: 5%;
}    
/* https://codepen.io/jcvno/pen/PoJZyG */
.soccer {
    background: url(http://upload.wikimedia.org/wikipedia/en/e/ec/Soccer_ball.svg);
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
    position: absolute;  
    left: 47%;
    top: 43%;
}

#mybutton {
    position: absolute;
    background: transparent;
    left: 47%;
    top: 43%;
    height: 100px;
    width: 100px;
    border: none;
}

/* Form Customization */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525;
    color: #ffffff;
  }
  
  .container {
    position: absolute;
    bottom: 10%;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .container h2 {
    margin-bottom: 15px;
  }
  
  .container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background: #2a2a2a;
    color: #ffffff;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container button:hover {
    background: #114563;
}